.comment{
  cursor: pointer;
  max-width: 200px;
  word-wrap: break-word;
  border-radius: 1em;
  background-color: gainsboro;
  padding: 1em;
}

.comment-header{
  margin-bottom: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;

  &-creator{
    justify-content: flex-end;
  }
}

.comment-header:hover{
  color: #f44336;
}

.avatar{
  font-size: 10px;
  background-color: white;
  margin: 5px 10px 0 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid #000000;
  box-shadow: 0 0 7px #666;
  object-fit: cover;
}

.creator-comment{
  background-color: tomato;
  color: white;
}

.delete:hover{
  background-color: #f44336;
}

.mat-mdc-select-placeholder{
  color: white;
}

.mat-mdc-select-arrow-wrapper {
  display: none !important;
}
