<mat-card class="comments">
  <mat-card-header> Comments </mat-card-header>
  <mat-card-content class="reply-box">
    <div
      *ngFor="let comment of getPostComments()"
      [ngClass]="{
        'comment-container': true,
        'creator-comment-container': isCommentCreator(comment)
      }"
    >
      <div>
        <div class="comment-name">{{ comment.creatorName }}</div>
        <div
          [ngClass]="{
            comment: true,
            'creator-comment': isCommentCreator(comment)
          }"
          [matMenuTriggerFor]="menu"
        >
          {{ comment.comment }}
        </div>
        <mat-menu #menu="matMenu">
          <ng-template matMenuContent>
            <button
              *ngIf="isCommentCreator(comment)"
              (click)="chaneCommentClick(comment)"
              mat-menu-item
            >
              Change
            </button>
            <button
              *ngIf="!isCommentCreator(comment)"
              (click)="responseClick(comment)"
              mat-menu-item
            >
              Response
            </button>
            <button
              class="delete"
              *ngIf="isCommentCreator(comment)"
              (click)="deleteCommentClick(comment)"
              mat-menu-item
            >
              Delete
            </button>
          </ng-template>
        </mat-menu>
      </div>
    </div>
  </mat-card-content>

  <form
    class="reply-action-bar"
    [formGroup]="replyForm"
    (submit)="onSendClick()"
  >
    <button type="submit" mat-flat-button color="primary">
      <mat-icon>send</mat-icon>
    </button>
    <input
      #commentInput
      formControlName="comment"
      [ngClass]="{ error: checkComment() }"
      placeholder="Comment..."
    />
  </form>
</mat-card>
