.comments{
  padding: 1em;
  height: 100%;
  width: 100%;

  .mat-mdc-card-header{
    font-size: 24px;
    margin-bottom: 10px;
  }
}

.reply-box{
  width: 100%;
  height: 350px;
  overflow: auto;
  min-width: 500px;
  max-width: 600px;
  padding: 1em 1em 0 1em;
  box-sizing: border-box;
  background-color: #eaeaea;
}

.reply-action-bar{
  margin: 1em 0 0 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  direction: rtl;

  input{
    padding: 1em 1em 1em 1em;
    border: 1px solid gray;
    border-radius: 1em;
    outline: none;
    width: 80%;
    box-sizing: border-box;
    direction: ltr;
  }

  .error{
    border-color: #f44336;
  }

  button{
    width: 3em;
  }
}

.comment-container{
  display: flex;
}

.creator-comment-container{
  display: flex;
  justify-content: flex-end;
}


