<div class="nav-bar">
  <div class="nav-bar-content">
    <div class="nav-bar-left">
      <a
        target="_blank"
        href="https://www.instagram.com/vlladyaa/"
        class="nav-bar-items link"
        >Instagram</a
      >
    </div>
    <div *ngIf="userDataService.isLoggedIn !== undefined" class="nav-bar-right">
      <div
        *ngIf="!userDataService.isLoggedIn"
        class="nav-bar-items link"
        (click)="onLoginClick()"
      >
        Login
      </div>
      <div
        *ngIf="userDataService.isLoggedIn && userDataService.userHasProfile"
        class="nav-bar-items"
      >
        Hello, {{ userDataService.userName }}
      </div>
      <div
        *ngIf="userDataService.isLoggedIn"
        class="nav-bar-items link"
        (click)="onLogoutClick()"
      >
        Logout
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<app-profile
  [show]="userDataService.isLoggedIn && !userDataService.userHasProfile"
></app-profile>
