.sidebar{
  position: absolute;
  top: 5em;
  left: 0;
  height: 5em;
  z-index: 10;
}

.mat-toolbar{
  display: flex;
  align-items: center;
  width: 200px;
  cursor: pointer;
  background-color: rgba(1, 17, 161, 0.8);
}

.mat-toolbar:hover{
  background-color: rgba(0, 23, 199, 0.8);
}

.mat-icon{
  margin-right: 10px;
}

.mdc-list-item{
  width: 200px;
  background-color: white;
}

::ng-deep .mat-mdc-menu-content {
  padding: 0 !important;
}

.delete:hover{
  background-color: #f44336;
}
