<div class="sidebar">
  <mat-toolbar (click)="homaPageClick()" color="primary"
    ><mat-icon>home</mat-icon>
    Home
  </mat-toolbar>

  <mat-toolbar color="primary" [matMenuTriggerFor]="menuNews"
    ><mat-icon>newspaper</mat-icon>
    News
  </mat-toolbar>

  <mat-toolbar (click)="friendsClick()" color="primary"
    ><mat-icon>people</mat-icon>
    Friends
  </mat-toolbar>

  <mat-toolbar color="primary" [matMenuTriggerFor]="menuNotifications">
    <mat-icon
      *ngIf="notificationFriendsLength || notificationLikesLength"
      color="warn"
      >notifications_active
    </mat-icon>
    <mat-icon *ngIf="!notificationFriendsLength && !notificationLikesLength">
      notifications_none
    </mat-icon>
    Notifications
  </mat-toolbar>

  <mat-toolbar color="primary" [matMenuTriggerFor]="menuSettings">
    <mat-icon>settings</mat-icon>
    Settings
  </mat-toolbar>

  <mat-menu #menuNews="matMenu">
    <button mat-menu-item (click)="newsClick()">All news</button>
    <button mat-menu-item (click)="friendsPostsClick()">Friends news</button>
  </mat-menu>

  <mat-menu #menuNotifications="matMenu">
    <button mat-menu-item (click)="newFriendsClick()">
      <mat-icon *ngIf="notificationFriendsLength" color="warn">
        fiber_manual_record
      </mat-icon>
      New friends
      <ng-container>({{ notificationFriendsLength }})</ng-container>
    </button>
    <button mat-menu-item (click)="newLikesClick()">
      <mat-icon *ngIf="notificationLikesLength" color="warn">
        fiber_manual_record
      </mat-icon>
      New likes
      <ng-container>({{ notificationLikesLength }})</ng-container>
    </button>
  </mat-menu>

  <mat-menu #menuSettings="matMenu">
    <button mat-menu-item (click)="changeNicknameClick()">
      Change nickname
    </button>
    <button mat-menu-item (click)="changeDescriptionClick()">
      Change description
    </button>
    <button class="delete" mat-menu-item (click)="deleteAccountClick()">
      Delete account
    </button>
  </mat-menu>
</div>
