<div class="user-page">
  <mat-card class="user-card">
    <mat-card-header class="user-header">
      <div class="user-header-name">{{ userName }}</div>
      <button
        *ngIf="isOwnPage"
        class="user-header-settings"
        mat-button
        [matMenuTriggerFor]="menu"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="ChangeNicknameClick()">
          Change nickname
        </button>
        <button mat-menu-item (click)="ChangeDescriptionClick()">
          Change description
        </button>
      </mat-menu>
    </mat-card-header>
    <div class="user-image">
      <img class="avatar" src="{{ getUserImage() }}" alt="User photo" />
      <button *ngIf="isOwnPage" class="user-image-button" mat-fab color="basic">
        <label for="photo-upload">
          <input
            (change)="onFileSelected($event)"
            id="photo-upload"
            type="file"
            accept="image/*"
          />
          <mat-icon>edit</mat-icon>
        </label>
      </button>
    </div>
    <mat-card-content class="user-content">
      <div class="user-content-description">{{ userDescription }}</div>
      <div class="user-content-statistics">
        <div class="user-content-statistics-info">
          Friends - {{ userFriendsLength }}
        </div>
        <div class="user-content-statistics-info">
          Posts - {{ userPostsLength }}
        </div>
        <div class="user-content-statistics-info">
          Online since - {{ userTimestamp | date : "MMM d, y" }}
        </div>
      </div>
      <div class="user-content-button">
        <button
          (click)="addToFriends()"
          *ngIf="!isOwnPage && !isFriend"
          mat-flat-button
          color="primary"
          (mouseenter)="showInfoWindow()"
          (mouseleave)="hideInfoWindow()"
        >
          {{ getIsAwaitingConfirmation ? "Send again" : "Add as Friend" }}
        </button>
        <app-info-window
          *ngIf="isInfoWindowVisible && getIsAwaitingConfirmation"
          [content]="infoContent"
        ></app-info-window>
        <button
          (click)="deleteFriend()"
          *ngIf="!isOwnPage && isFriend"
          mat-flat-button
          color="primary"
        >
          Delete from Friends
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
