<div class="news-line" [style.background-image]="backgroundStorage">
  <div class="post-feed">
    <ng-container *ngIf="postsGroup === 'allPosts'">
      <app-post *ngFor="let post of getPosts()" [postData]="post"></app-post>
    </ng-container>
    <ng-container *ngIf="postsGroup === 'friendsPosts'">
      <app-post
        *ngFor="let post of getPostsFriends()"
        [postData]="post"
      ></app-post>
    </ng-container>
  </div>
  <button
    mat-fab
    color="warn"
    class="post-button"
    (click)="onCreatePostClick()"
  >
    <div>Create post</div>
    <mat-icon>add</mat-icon>
  </button>
</div>
