.news-line{
  display: block;
  padding-top: 3em;
  width: 100%;
  min-height: 100%;
  background: url(../../images/post-feed2.jpg) no-repeat center center fixed;
  background-size: cover;
}

.post-button{
  width: 10em;
  position: fixed;
  bottom: 2em;
  right: 2em;
}

.post-feed{
  max-width: 500px;
  padding-top: 3em;
  margin-left: auto;
  margin-right: auto;
}
