.news-line{
  display: flex;
  padding-top: 5em;
  width: 100%;
  min-height: 100%;
  background: no-repeat center center fixed;
  background-size: cover;
}

.post-button{
  width: 10em;
  position: fixed;
  bottom: 2em;
  right: 2em;
}

.post-feed{
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.option-container {
  display: flex;
  align-items: center;
}

.flex-container {
  display: flex;
  align-items: center;
  flex: 1;
}

.avatar {
  margin-right: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid #000000;
  box-shadow: 0 0 7px #666;
  object-fit: cover;
}

.form-field{
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}
