.post{
  width: 500px;
  margin-top: 2em;
  background-color: #f1f1f1;
}

.creator-name{
  cursor: pointer;
  font-size: 24px;
  display: flex;
  align-items: center;
}

.avatar{
  font-size: 10px;
  background-color: white;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid #000000;
  box-shadow: 0 0 7px #666;
  object-fit: cover;
}

.creator-name:hover{
  color: #f44336;
}

.action-item{
  margin-left: .5em;
  cursor: pointer;
}

.comment{
  padding: 10px;
  margin: 10px 10px 0 10px;
  border-radius: 1em;
  background-color: #c4c4c4;
}

.image{
  margin: 10px;
  height: auto;
}

.likes{
  width: auto;
  display: flex;
  justify-content: center;

  &-number{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

app-post-likes-info {
  transition: opacity 0.3s ease-in-out;
  display: none;
}

app-post-likes-info.visible {
  display: block;
}
