<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{ message.info }}
    </mat-card-title>
  </mat-card-header>

  <mat-card-content class="message">
    <div class="message-text">{{ message.message }}</div>
    <div class="message-button">
      <button mat-flat-button color="primary" (click)="closeClick()">
        Close
      </button>
      <span class="spacer"></span>
      <button
        *ngIf="message.addButton"
        mat-flat-button
        color="warn"
        (click)="buttonClick()"
      >
        {{ message.nameButton }}
      </button>
    </div>
  </mat-card-content>
</mat-card>
